@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  width: 90%;
  max-width: 360px;
  margin: 50px auto;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 16px #d5d5d5;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid #fff;
}

form button {
  border: none;
  background: #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: #fff;
}

.calculadora {
  width: 100%;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #eaeaea;
  cursor: pointer;
  border-radius: 4px;
}

.btn-eq {
  background-color: #4285f4;
  color: #fff;
}

.btn:hover {
  background: #bfbfbf;
  color: #fff;
}
